{% extends "base.html" %}
{% block title %}Category{% endblock  %}
{% block body %}

<section class="text-gray-900 body-font">
    <div class="container px-5 py-12 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font  text-gray-900 mb-20">Our Category
        </h1>
        <div class="flex flex-wrap -m-4">
            {% for c in category %}
            <div class="lg:w-1/5 md:w-1/2 p-4 w-full cursor-pointer shadow-lg">
                <a href="category/{{c.cid}}" class="block relative rounded overflow-hidden">
                    <img alt="ecommerce" class="h-[30vh] md:h-[36vh] block"
                         src="{{c.image.url}}">
                </a>
                <div class="mt-4 text-center">
                    <h3 class="text-gray-900 text-xs tracking-widest title-font mb-1">{{c.category.count}}</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">{{c.title}}</h2>
                    <p class="mt-1">₹ {{c.price}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock  %}