{% extends "../base.html" %}
{% block title %}Home{% endblock  %}
{% block body %}
{% load static %}
<div class="container mx-auto mt-10">
    <div class="relative w-full overflow-hidden rounded-lg">
      <!-- Slides -->

      <div class="carousel-slides flex transition-transform duration-500">
        <div class="min-w-full text-white flex justify-center items-center h-64 md:h-96">
<img
  src="{% static 'slider-images/brennan-burling--fhcpPYjf3g-unsplash.jpg' %}"
  srcset="
  {% static 'slider-images/brennan-burling--fhcpPYjf3g-unsplash.jpg' %} 400w,
  {% static 'slider-images/brennan-burling--fhcpPYjf3g-unsplash.jpg' %} 800w,
 {% static 'slider-images/brennan-burling--fhcpPYjf3g-unsplash.jpg' %} 1200w"
  sizes="(max-width: 600px) 100vw,
         (max-width: 992px) 100vw,
         (min-width: 993px) 100vw"
  alt="Product image"
  style="width: 100%; object-fit: cover;"
/>
        </div>
        <div class="min-w-full text-white flex justify-center items-center h-64 md:h-96">
<img
  src="{% static 'slider-images/imani-bahati-LxVxPA1LOVM-unsplash.jpg' %}"
  srcset="
  {% static 'slider-images/imani-bahati-LxVxPA1LOVM-unsplash.jpg' %} 400w,
  {% static 'slider-images/imani-bahati-LxVxPA1LOVM-unsplash.jpg' %} 800w,
  {% static 'slider-images/imani-bahati-LxVxPA1LOVM-unsplash.jpg' %}
         (max-width: 992px) 100vw,
         (min-width: 993px) 100vw"
  alt="Product image"
  style="width: 100%; object-fit: cover;"
/>
        </div>
        <div class="min-w-full text-white flex justify-center items-center h-64 md:h-96">
<img
  src="{% static 'slider-images/daniel-storek-JM-qKEd1GMI-unsplash.jpg' %}"
  srcset="
  {% static 'slider-images/daniel-storek-JM-qKEd1GMI-unsplash.jpg' %} 400w,
  {% static 'slider-images/daniel-storek-JM-qKEd1GMI-unsplash.jpg' %} 800w,
  {% static 'slider-images/daniel-storek-JM-qKEd1GMI-unsplash.jpg' %} 1200w"
  sizes="(max-width: 600px) 100vw,
         (max-width: 992px) 100vw,
         (min-width: 993px) 100vw"
  alt="Product image"
  style="width: 100%; object-fit: cover;"
/>
        </div>
      </div>

      <!-- Controls -->
      <button id="preview" class="absolute top-1/2 left-4 transform -translate-y-1/2 text-white bg-black bg-opacity-50 rounded-full p-2">
        &#10094;
      </button>
      <button id="next-slide" class="absolute top-1/2 right-4 transform -translate-y-1/2 text-white bg-black bg-opacity-50 rounded-full p-2">
        &#10095;
      </button>
    </div>
  </div>

  <div class="container mx-auto mt-10">
    <div class="product-wrapper w-full relative">
      <!-- Product Slides -->
      <div class="product-slides">
        <!-- Product 1 -->
          {% for i in product %}
          <a href="product/{{i.pid}}">
        <div class="product-card">
          <img src="{{i.image.url}}" alt="Product 1" class="w-full h-80 object-cover">
          <h2 class="text-xl mt-4">{{i.title}}</h2>
          <p class="text-gray-500">Price: {{i.price}}</p>
        </div>
          </a>
          {% endfor %}

      </div>

      <!-- Previous and Next Buttons -->
      <button id="prev" class="carousel-button prev-button">&#10094;</button>
      <button id="next" class="carousel-button next-button">&#10095;</button>
    </div>
  </div>
<script src="{% static 'slider.js' %}">
  </script>
<script src="{% static 'product-slider.js' %}"></script>
{% endblock  %}