{% extends "../base.html" %}
{% block title %} {{p.title}} {% endblock %}
{% block body %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-16 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto px-32 object-cover object-center rounded"
                 src="{{p.image.url}}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{p.category}}</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-5">{{p.title}}</h1>
                <p class="leading-relaxed">{{p.description}}</p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                    <div class="flex items-center">
                        <span class="mr-3">Color</span>
                        <div class="relative">
                            <select class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 text-base pl-3 pr-10 product-color">
                                {% for i in p_color %}
                                <option value="{{i.color}}">{{i.color}}</option>
                                {% endfor %}
                            </select>
                            <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
                        </div>
                    </div>

                    <div class="flex ml-6 items-center">
                        <span class="mr-3">Size</span>
                        <div class="relative">
                            <select class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 text-base pl-3 pr-10 product-size">
                                {% for i in p_size %}
                                <option value="{{ i.size }}">{{i.size}}</option>
                                {% endfor %}
                            </select>
                            <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <span class="title-font font-medium text-2xl text-gray-900">₹ </span>
                    <span class="title-font font-medium text-2xl text-gray-900 pl-2 product-price-{{p.id}}"> {{p.price}}</span>
                    <input type="hidden" class="product-quantity-{{p.id}}" value="1">
                    <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                    <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                    <input type="hidden" class="product-id-{{p.id}}"  value="{{p.id}}">
                    <input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}">
                    <button class="flex ml-14 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded add-to-cart-btn" data-index="{{p.id}}">
                        Add To Cart
                    </button>
                    <button class="flex ml-4 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">
                        Buy Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}