{% extends "base.html" %}
{% block title %} Checkout {% endblock %}
{% block body %}
<div class="container m-auto">
    <h1 class="font-bold text-3xl my-8 text-center"> Checkout </h1>
    <h1 class="font-bold text-xl"> 1. Delivery Details</h1>
    <div class="mx-auto flex my-4">
        <div class="px-2 w-1/2">
            <div class="mb-4">
                <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                <input type="text" name="name" id="name"
                       class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
          <div class="px-2 w-1/2">
            <div class="mb-4">
                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                <input type="email" name="email" id="email"
                       class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
    </div>
        <div class="px-2 w-full">
            <div class="mb-4">
                 <label for="address" class="leading-7 text-sm text-gray-600">Address</label>
        <textarea id="address" name="address" class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
        </div>
    <div class="mx-auto flex my-4">
        <div class="px-2 w-1/2">
            <div class="mb-4">
                <label for="phone" class="leading-7 text-sm text-gray-600">Phone</label>
                <input type="tel" name="phone" id="phone"
                       class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
          <div class="px-2 w-1/2">
            <div class="mb-4">
                <label for="city" class="leading-7 text-sm text-gray-600">City</label>
                <input type="text" name="city" id="city"
                       class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
    </div>
    <div class="mx-auto flex my-4">
        <div class="px-2 w-1/2">
            <div class="mb-4">
                <label for="state" class="leading-7 text-sm text-gray-600">State</label>
                <input type="text" name="state" id="state"
                       class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
          <div class="px-2 w-1/2">
            <div class="mb-4">
                <label for="pincode" class="leading-7 text-sm text-gray-600">Pincode</label>
                <input type="text" name="pincode" id="pincode"
                       class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
    </div>
     <h1 class="font-bold text-xl"> 2. Review Cart Items</h1>
    <div class="container mx-auto mt-2" id="cart-list">

        <div class="bg-white shadow-md rounded-lg p-6">
            <table class="w-full">
                <thead>
                    <tr class="border-b">
                        <th class="text-left py-3 px-4">Product</th>
                        <th class="text-left py-3 px-4">Size</th>
                        <th class="text-left py-3 px-4">Color</th>
                        <th class="text-left py-3 px-4">Price</th>
                        <th class="text-left py-3 px-4">Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for product_id , item in cart_data.items %}
                    <!-- Example Cart Item -->
                    <tr class="border-b hover:bg-gray-100">
                        <td class="py-4 px-4 flex items-center">
                            <img src="{{item.image}}"  alt="Product Image" class="mr-4 h-20">
                            <span>{{item.title}}</span>
                        </td>
                        <td class="py-4 px-4">{{item.size}}</td>
                        <td class="py-4 px-4">
                         {{item.color}}
                        </td>
                        <td class="py-4 px-4">₹{{item.price}}</td>
                        <td class="py-4 px-4">
                            <button class="text-red-600 hover:text-red-800 delete-product" data-product="{{product_id}}">
                                <span class="material-symbols-outlined">
delete
</span>
                            </button>
                        </td>
                    </tr>
    {% endfor %}
                    <!-- Repeat for more items -->
                </tbody>
            </table>
            <div class="mt-6 flex justify-between items-center">
                <span class="font-bold">Total: ₹ {{cart_total_amount}}</span>
                <button class="bg-blue-500 text-white px-4 py-2 rounded">Place Order</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}